html {
  margin: 0;
  padding: 0;
}

body {
  margin: .5em;
  padding: 0;
  background-color: black;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

body > #monitor {
  cursor: none !important;
}
